name: Deploy to GitHub Pages

on:
  push:
    branches: [main] # Asegúrate de que este sea el nombre de tu rama principal

permissions:
  contents: read
  pages: write
  id-token: write

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Install, build, and upload your site
        uses: withastro/action@v3
        # No necesitas configurar nada más, la acción detecta Astro automáticamente
